# Environment
APP__ENV=development

# Server
APP__SERVER__PORT=8000

# Database
APP__DATABASE__ENGINE=postgres
APP__DATABASE__HOST=localhost
APP__DATABASE__NAME=<db-name>
APP__DATABASE__PASSWORD=<db-password>
APP__DATABASE__PORT=5433
APP__DATABASE__USER=<db-admin-user>

# JWT
APP__AUTH__JWT_ACCESS_EXPIRATION_TIME_IN_HOURS=1
APP__AUTH__JWT_ONE_TIME_PASSWORD_LIFETIME_IN_MINUTES=5
APP__AUTH__JWT_SECRET="<generate-a-strong-random-secret>"
APP__AUTH__JWT_SESSION_EXPIRATION_TIME_IN_HOURS=24
